body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #3498db;
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f0f8ff;
}

input[type="time"],
input[type="text"] {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

/* 年と月日を分けて横並びにして少し間隔をあける */
.date-year {
    margin-right: 8px;
    font-weight: bold;
}

.date-monthday {
    font-weight: normal;
}

/* 備考のテキスト入力の縦を大きく */
input[type="text"][name*="remarks"] {
    height: 60px; /* 高さを60pxに拡大 */
    padding: 8px;
    font-size: 14px;
    resize: vertical; /* ユーザーが縦にサイズ変更できるように */
    box-sizing: border-box;
    width: 50%;
}
.btn-attendance-submit {
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
}
