# Node modules
/node_modules

# Laravel-specific files
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
.phpunit.cache/

# Environment files
.env
.env.backup
.env.*

# Docker
docker-compose.override.yml

# Homestead
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log

# IDE/Editor settings
/.idea
/.vscode
